<section id="education" class="education-journey">
  <div class="edu-gradient glow-1"></div>
  <div class="edu-gradient glow-2"></div>
  <div class="edu-gradient glow-3"></div>
  <div class="gradient-background"></div>
  <div class="container">
    <p class="section-subtitle">MY EDUCATION</p>
    <h2 class="section-title">
      Education <span class="gradient-text">Journey</span>
    </h2>

    <div class="edu-timeline appFadeInOnScroll">
      <div class="line-fade"></div>

      <div class="edu-wrap right">
        <div class="dot-num">1</div>
        <div class="edu-gradient"></div>

        <div class="edu-card education-card tilt-card ">
          <div class="content">
            <h4>Secondary Education <span class="year">2019 - 2020</span></h4>
            <p class="institution">Amalorpavam Hr Sec School</p>
            <p>State Board</p>
          </div>
        </div>
      </div>

      <div class="edu-wrap left appFadeInOnScroll">
        <div class="dot-num">2</div>
        <div class="edu-card education-card tilt-card">
          <div class="content">
            <h4>Higher Secondary Education<span class="year">2021 - 2022</span></h4>
            <p class="institution">Sri Sampourna Vidyalayam Hr Sec School</p>
            <p>State Board</p>
            <p>Stream: Computer Science</p>
          </div>
        </div>
      </div>

      <div class="edu-wrap right appFadeInOnScroll">
        <div class="dot-num">3</div>
        <div class="edu-card education-card tilt-card ">
          <div class="content">
            <h4>B.Tech CSE <span class="year">2023 - 2026</span></h4>
            <p class="institution">Sri Venkateswara College of Engineering and Technology</p>
            <p>University: Pondicherry University</p>
            <p>Stream: Computer Science and Engineering</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>