<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h3>Akashraj</h3>
      <p>© {{ currentYear }} All rights reserved.</p>
    </div>
    <div class="footer-links">
      <a href="#hero">Home</a>
      <a href="#about">About</a>
      <a href="#skills">Skills</a>
      <a href="#projects">Projects</a>
      <a href="#education">Education</a>
      <a href="#certification">Certifications</a>
      <a href="#awards">Awards</a>
      <a href="#contact">Contact</a>
    </div>
    <div class="footer-socials">
      <a href="https://www.linkedin.com/in/akashraj-k" target="_blank" aria-label="LinkedIn" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/0xEth1cX" target="_blank" aria-label="GitHub" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://app.hackthebox.com/profile/2456481" class="social-card htb" target="_blank"
        rel="noopener noreferrer">
        <i class="fas fa-cube"></i>
      </a>
      <a href="https://twitter.com/0xEth1cX" class="social-card x" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-x-twitter"></i>
      </a>

      <!-- <a href="mailto:your@email.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a> -->
    </div>
  </div>
</footer>