<section #aboutSection class="about-section fade-up" id="about">
  <div class="container about-container">

    <h2 class="section-title">About</h2>

    <div class="about-text">
      <div class="about-text">
        <!-- Desktop view -->
        <div class="about-desktop">
          <p>
            Electrical and Electronics Engineer with hands-on experience in embedded systems and power systems.
            Possesses strong expertise in hardware troubleshooting, simulation software, and PCB design.
          </p>
          <p>
            Capable of analyzing and resolving complex technical issues efficiently. Demonstrates the ability to
            collaborate effectively within multidisciplinary engineering teams.

          </p>
          <p>
            Focused on delivering reliable, efficient, and innovative engineering solutions. Committed to continuous
            learning and professional growth in the field of electrical and electronics engineering.
          </p>
        </div>

        <!-- Mobile view -->
        <div class="about-mobile">
          <p>
            Electrical and Electronics Engineer with hands-on experience in embedded systems and power systems.
            Possesses strong expertise in hardware troubleshooting, simulation software, and PCB design.

          </p>
          <p>
            Capable of analyzing and resolving complex technical issues efficiently. Demonstrates the ability to
            collaborate effectively within multidisciplinary engineering teams.
          </p>
          <p> Focused on delivering reliable, efficient, and innovative engineering solutions. Committed to continuous
            learning and professional growth in the field of electrical and electronics engineering.
          </p>
        </div>

      </div>
    </div>

    <div class="about-social">
      <a href="https://github.com/0xEth1cX" class="social-card github" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="http://linkedin.com/in/prajeet-s-m-381142288" class="social-card linkedin" target="_blank"
        rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://twitter.com/0xEth1cX" class="social-card x" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-x-twitter"></i> X
      </a>
      <a href="https://app.hackthebox.com/profile/2456481" class="social-card htb" target="_blank"
        rel="noopener noreferrer">
        <i class="fas fa-cube"></i> Hack The Box
      </a>

      <!-- <a href="https://tryhackme.com/p/0xEth1cX" class="social-card thm" target="_blank" rel="noopener noreferrer">
        <img src="https://tryhackme-images.s3.amazonaws.com/room-icons/room-icons/thm-icon.png" alt="TryHackMe"
          class="icon-img" /> TryHackMe
      </a> -->
    </div>

  </div>
</section>