<section #aboutSection class="about-section fade-up" id="about">
  <div class="container about-container">

    <h2 class="section-title">About</h2>

    <div class="about-text">
      <div class="about-text">
        <!-- Desktop view -->
        <div class="about-desktop">
          <p>
            I'm a MEAN Stack Web Developer and Security Researcher,passionate about building modern, interactive web
            applications while
            exploring and fixing vulnerabilities to keep the digital world secure.
          </p>
          <p>
            I blend creativity and code with cybersecurity, crafting sleek web experiences and diving deep into ethical
            hacking to strengthen
            systems from the inside out.
          </p>
          <p>
            A developer by craft and hacker by curiosity, I build userfriendly web apps and hunt vulnerabilities to
            bridge the gap between
            innovation and security. With a focus on both performance and protection, I create full stack solutions
            while analyzing security
            flaws to ensure safer, smarter technology.
          </p>
        </div>

        <!-- Mobile view -->
        <div class="about-mobile">
          <p>
            I'm a MEAN Stack Web Developer and Security Researcher passionate about building modern, interactive web
            applications while
            exploring and fixing vulnerabilities to keep the digital world secure.
          </p>
          <p>I blend creativity with code and cybersecurity, crafting sleek,
            userfriendly experiences and diving into ethical hacking to bridge innovation and protection.</p>

        </div>

      </div>
    </div>

    <div class="about-social">
      <a href="https://github.com/0xEth1cX" class="social-card github" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/akashraj-k" class="social-card linkedin" target="_blank"
        rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://twitter.com/0xEth1cX" class="social-card x" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-x-twitter"></i> X
      </a>
      <a href="https://app.hackthebox.com/profile/2456481" class="social-card htb" target="_blank"
        rel="noopener noreferrer">
        <i class="fas fa-cube"></i> Hack The Box
      </a>

      <!-- <a href="https://tryhackme.com/p/0xEth1cX" class="social-card thm" target="_blank" rel="noopener noreferrer">
        <img src="https://tryhackme-images.s3.amazonaws.com/room-icons/room-icons/thm-icon.png" alt="TryHackMe"
          class="icon-img" /> TryHackMe
      </a> -->
    </div>

  </div>
</section>