<nav class="navbar navbar-expand-lg custom-navbar" [class.scrolled]="isScrolled">
  <div class="container-fluid">
    <a class="navbar-brand" href="#hero" style="font-weight: 600;font-size: 25px;">Akashraj</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link allin" href="#hero">Home</a></li>
        <li class="nav-item"><a class="nav-link allin" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link allin" href="#skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link allin" href="#education">Education</a></li>
        <li class="nav-item"><a class="nav-link allin" href="#projects">Projects</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle allin" href="#awards" id="awardsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Awards
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="awardsDropdown">
            <li><a class="dropdown-item allin" href="#awards">Awards & Recognitions</a></li>
            <li><a class="dropdown-item allin" href="#certifications">Certifications</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link allin" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>