<div id="skills" class="skills-wrapper">
<section #skillsSection class="skills-section animate-on-scroll">
<p class="section-subtitle">MY SKILLS</p>
  <h2 class="section-title">
    <span class="text-white">Technical</span> <span class="gradient-text">Stacks</span>
  </h2>

  <div class="skill-card">
    <div class="category-heading">Frontend Stack</div>
    <div class="skills-row">
      <div class="skill-badge react">Angular</div>
      <div class="skill-badge ts">TypeScript</div>
      <div class="skill-badge html">HTML</div>
      <div class="skill-badge css">CSS</div>
      <div class="skill-badge js">JavaScript</div>
      <div class="skill-badge bootstrap">Bootstrap</div>
    </div>
  </div>

  <div class="skill-card">
    <div class="category-heading">Backend Stack</div>
    <div class="skills-row">
      <div class="skill-badge nodejs">NodeJS</div>
      <div class="skill-badge expressjs">ExpressJS</div>
      <div class="skill-badge python">Python</div>
      <div class="skill-badge mysql">MySQL</div>
      <div class="skill-badge mongodb">MongoDB</div>
    </div>
  </div>

  <div class="skill-card">
    <div class="category-heading">DevOps & Tools</div>
    <div class="skills-row">
      <div class="skill-badge git">Git</div>
      <div class="skill-badge github">GitHub</div>
      <div class="skill-badge aws">AWS</div>
      <div class="skill-badge docker">Docker</div>
      <div class="skill-badge n8n">N8N</div>
    </div>
  </div>

  <div class="skill-card">
    <div class="category-heading">Web Security</div>
    <div class="skills-row">
      <div class="skill-badge kalilinux">Kali Linux</div>
      <div class="skill-badge burpsuite">Burpsuit</div>
      <div class="skill-badge googledork">Google Dorks</div>
      <div class="skill-badge nmap">Nmap</div>
      <div class="skill-badge wireshark">Wireshark</div>
      <div class="skill-badge metasploit">Metasploit</div>
    </div>
  </div>
  <div class="neon-ring ring-left"></div>
</section>
</div>
