<section id="awards" class="awards-section">
  <div class="container">
    <h2 class="awards-title ">Awards &  <span class="gradient-text">Recognitions</span> </h2>

    <!-- <div class="category-title">Bug Bounty Hunter (Hall of Fame)</div>
    <div class="award-card glow-left">
      <div class="card-content">
        <h4>Website Name – Hall of Fame</h4>
        <p>Recognized for reporting a critical vulnerability that was responsibly disclosed and fixed.</p>
        <img class="proof-img" src="assets/images/hall-of-fame-email.jpg" alt="Proof of Recognition">
        <a href="https://linkedin.com/in/your-post-link" class="proof-btn" target="_blank">View LinkedIn Post</a>
      </div>
    </div>

    <div class="off-cut-line"></div>

    <div class="category-title">Appreciation Letters</div>
    <div class="award-card glow-right">
      <div class="card-content">
        <h4>Organization Name – Thank You Mail</h4>
        <p>Acknowledged for responsible disclosure and helping improve security posture.</p>
        <img class="proof-img" src="assets/images/appreciation-letter.jpg" alt="Appreciation Letter">
        <a href="https://linkedin.com/in/your-appreciation-post" class="proof-btn" target="_blank">View LinkedIn Post</a>
      </div>
    </div>

    <div class="off-cut-line"></div>

    <div class="category-title">Security Working Group (SWG)</div>
    <div class="award-card glow-left">
      <div class="card-content">
        <h4>SWG Acknowledgment</h4>
        <p>Recognized as a contributor to national-level cyber defense exercises and best practice recommendations.</p>
      </div>
    </div>

    <div class="off-cut-line"></div> -->

    <div class="category-title">Secured Government Assets</div>
    <div class="award-card glow-right">
      <div class="card-content">
        <h4>Government Website Vulnerability Disclosure</h4>
        <p>Utilized advanced Google Dorking techniques to identify exposed directories, misconfigured services, sensitive data leaks, and 
          vulnerable endpoints across 5+ Indian government websites, enabling responsible disclosure and patching of critical security flaws</p>
        <a href="https://www.linkedin.com/posts/akashraj-k_cybersecurity-ethicalhacking-responsibledisclosure-activity-7345031587924779008-y2Wu?utm_source=share&utm_medium=member_desktop&rcm=ACoAAD9Ww_ABxL_6koKlMgIseeFXadfIDs2UAkU" class="proof-btn" target="_blank">View LinkedIn Post</a>
      </div>
    </div>

    <div class="note-box">
      Note: I’ve helped secure 5+ government websites through responsible vulnerability disclosure. All findings were acknowledged and fixed by the respective authorities.
    </div>
  </div>
</section>
